.btn{
	margin-top: 20px;
	background-color: #5ce1f0;
    padding: 7px 28px;
    border-radius: 20px;
    border: none;
}

.navbar{
	font-size: large;
	font-weight: bold;
}

.btn:hover{
	opacity:0.8;
	background-color: #5cf0ed!important;
}

.form-control{
	position:relative;
    top: 40px;
    transform: translate(0, -50%);
    height: 50%;

}

/* 標籤圖片動畫 */
.nav-item  a .fa-solid{
    
    margin-left: -10px;
    transform: scale(0);
    /* border: 2px solid black; */
}
/* 標籤圖片動畫 */
.nav-item  a:hover .fa-solid{
    
    margin-left: 0px;
    transform: scale(1);
    transition: 0.5s;
    /* border: 2px solid black; */
}



h3{
    background-color: rgb(94, 91, 91);
    color: aliceblue;
    font-size: 20px;
    width: 70%;
    box-shadow: 10px -10px 0px 0px rgb(243, 229, 26);
}

.title h2{
    color: aliceblue;
}


img{
    width: 100%;
}


hr{
    
    /* border-style: dashed;
    color: #6bf05c; */
    border: 2px dashed rgb(0, 0, 0) ;
    width:100%;
}
/* 背景 */
body{
    margin:0px;
    padding:0px;
    background:scroll;
    background-image:linear-gradient(to bottom right,rgba(255, 255, 255, 0.715),rgba(114, 162, 196, 0.719));
    background-size: cover;    
    }       
/* 最新文章 */
#new_article{
    
    margin: 5px;
    padding: 20px;
    /* float: right; */
    position: absolute;
    top: 500px;
    right: 6%;
    border: 2px solid black;
    background-color: rgb(167, 209, 230);
    box-shadow: 4px -2px 20px 2px rgb(85, 111, 122);
    
}
/* 最新文章 */
.article{
    overflow: hidden;
    display: inline-block;
    max-width: 100%;        
    text-overflow: ellipsis;
    white-space:nowrap;
    color: rgb(0, 0, 0);
    /* box-shadow: 10px 0px 20px 2px black; */
    
}

.article_div a:visited{
    color: black;
}

.article_div a:link{
    color: black;
}

/* 最新文章標題動畫 */
.article_div_down a:hover{
    
    color: #028db4;
    transition-duration: 2s;
    overflow: visible;
    
}
/* 最新文章標題動畫 */
.article_div a:hover{
    
    color: #028db4;
    transition-duration: 2s;
    overflow: visible;
    margin-left: -200px;
    /* background-color: black; */
}


/* 留言板 */
.message hr{
    border: 1px solid rgb(0, 0, 0) ;
    width: 100%;
}

.message .btn{
    margin-top: 20px;
	background-color: #615cf0;
    padding: 7px 28px;
    border-radius: 50px;
    border: none;
}

.message .btn:hover{
	opacity:0.8;
	background-color: #5cd2f0!important;
}

.murmur{
    /* border: 3px dotted red; */
    background-image:linear-gradient(to right,rgba(126, 245, 187, 0.762),rgba(139, 179, 207, 0));
    
}


/* 文章內容 */

#content {
    font-size: 40px;
    
}

#content li{
    background-color: aliceblue;
}

#content img{
   height: 300px;
   width: 100%;
}

.image{
    box-shadow: 5px 3px 5px 5px rgb(78, 78, 78);
    background-color: #f2f2f200;
    padding: 0px;
}

.north-1-1{
    /* box-shadow: 5px 3px 5px 5px rgb(78, 78, 78); */
    
    background-color: #f2f2f23a;
}


.north-1-3{
    /* box-shadow: 5px 3px 5px 5px rgb(78, 78, 78); */
    
    background-color: #f2f2f23a;
}


footer a:link{
    text-decoration: none;
     color: rgb(0, 0, 0);
    }

footer a:visited{
    color:  rgb(0, 0, 0);
}

footer img{
    width: 50%;
}