.btn{
	margin-top: 20px;
	background-color: #f05f5c;
    padding: 7px 28px;
    border-radius: 20px;
    border: none;
}

.navbar{
	font-size: large;
	font-weight: bold;
}

.btn:hover{
	opacity:0.8;
	background-color: #f05f5c!important;
}

.form-control{
	position:relative;
    top: 40px;
    transform: translate(0, -50%);
    height: 50%;

}

h3{
    background-color: rgb(94, 91, 91);
    color: aliceblue;
    font-size: 20px;
    width: 70%;
}

img{
    width: 100%;
}


hr{
    
    /* border-style: dashed;
    color: #6bf05c; */
    border: 2px dashed rgb(0, 0, 0) ;
    width:100%;
}

.body{
    margin:0px;
    padding:0px;
    background:#fff url('https://topic.cw.com.tw/event/2019penghu/assets/images/img_3.jpg') center center fixed no-repeat;
    background-size: cover;    
    }       
    
#new_article{
    
    margin: 5px;
    padding: 20px;
    /* float: right; */
    position: absolute;
    top: 500px;
    right: 6%;
    border: 2px solid black;
    background-color: rgb(167, 209, 230);
    
}
.article{
    overflow: hidden;
    display: inline-block;
    max-width: 100%;        
    text-overflow: ellipsis;
    white-space:nowrap;
    color: rgb(0, 0, 0);
    
}

.article_div a:visited{
    color: black;
}

.article_div a:link{
    color: black;
}

.article_div_down a:hover{
    
    color: #028db4;
    transition-duration: 2s;
    overflow: visible;
    
}

.article_div a:hover{
    
    color: #028db4;
    transition-duration: 2s;
    overflow: visible;
    margin-left: -200px;
}



.message hr{
    border: 1px solid rgb(0, 0, 0) ;
    width: 100%;
}

.message .btn{
    margin-top: 20px;
	background-color: #615cf0;
    padding: 7px 28px;
    border-radius: 50px;
    border: none;
}

.message .btn:hover{
	opacity:0.8;
	background-color: #5cd2f0!important;
}

.murmur{
    /* border: 3px dotted red; */
    background-color: #a6d2d4;
    
}

#content {
    font-size: 40px;
    
}

#content li{
    background-color: aliceblue;
}

#content img{
   height: 300px;
   width: 100%;
}

footer a:link{
    text-decoration: none;
     color: rgb(247, 185, 16);
    }

footer a:visited{
    color:  rgb(247, 185, 16);
}

footer img{
    width: 50%;
}